

 *{

     background-color: aqua;

      flex-direction: column;
 }  
.myname{

      justify-content: center;
         text-align: center;
      flex-direction: colums;
       padding-top: 50px;


         
}

.myinput{

      padding:  10px;
       margin: 10px;
}

.buttons{

     padding: 10px;
     background-color: azure;
}

.buttons::after{
     background-color: rebeccapurple;
}